{% if account.social_net_profiles.size > 0 %}
<ul class="social-menu list {{ social_class }}">
  {% for social_net in account.social_net_profiles %}
    {% assign icon_name = social_net.link | replace: 'www.', '' | replace: 'http://', '' | replace: 'https://', '' | split: '/' | first | replace: '.ru', '' | replace: '.com', '' | replace: '.', '_' | replace: ' ', '_' %}
    <li class="social-menu-item list-item">
      <a target="blank" title='{{ social_net.network_name }}' href="{{ social_net.link }}" class="social-menu-link is-{{ icon_name }}">
      </a>
    </li>
  {% endfor %}
</ul>
{% endif %}

{% assign icon_name = nil %}
